#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 0 auto 0 auto;
    max-width: 1400px;
}

#footer>a,
#footer>p {
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
}

#footer>p>a {
    text-decoration: none;
}

#footer>p>img {
    animation: slowSpin 5s ease-in-out infinite;
}

@keyframes slowSpin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(-1, 1);
    }

    100% {
        transform: scale(1);
    }
}

.socialLogo {
    opacity: 0.75;
    max-height: 2.5rem;
    padding: 0 1rem;
    transition: transform 2s ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
    margin: 1rem auto;
}

#socials {
    border-top: 1px solid gray;
    margin-top: 2rem;
}

#socials>a>img {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

#socials>a>img:hover,
#socials>a>img:focus {
    border-left: 4px solid lime;
    border-right: 4px solid lime;
    border-radius: 10px;
}

#gitHubLogo {
    animation: 4s wiggle infinite;
}

#twitterLogo {
    animation: 4s wiggle infinite 1s;
}

#linkedInLogo {
    animation: 4s wiggle infinite 2s;
}

#youTubeLogo {
    animation: 4s wiggle infinite 3s;
}

@keyframes wiggle {
    4% {
        transform: rotateZ(0deg);
    }
    5% {
        transform: rotateZ(10deg);
    }
    10% {
        transform: rotateZ(-10deg);
    }
    11% {
        transform: rotateZ(0deg);
    }
    16% {
        transform: scale(1.1);
    }
    21% {
        transform: scale(1);
    }
}

#giphySecurity {
    margin: -3rem auto -5rem auto;
}

@media (max-width: 575px) {
    #giphySecurity {
        margin: -3rem auto -3rem auto;
    }
}